/* basic body declarations */
body {

  /* background-image: url("https://github.com/yao2007/des157/blob/gh-pages/image/cat.jpg?raw=true"); */
  background-color: #cccccc;
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  padding:24px;
}


button {
  width:10%;
  height:25px;
  background-color:red;
  border-radius:14px;
  border:0px;
  font-size:2em;
  color:antiquewhite;
}

#init {
  position: absolute;
  margin: auto;
}
#pen {
  /* border: 1px red solid; */
  position: relative;
  bottom: -18px;

}
.hover #glass{
  /* border: 1px red solid; */
  opacity:0.5;
  position: relative;
  bottom: 15px;
}
#bottle{
  /* border: 1px red solid; */
  position: relative;
  bottom: -544px;
  left: -312px;
}
#pen {
  /* border: 1px red solid; */
  position: relative;
  bottom: -18px;

}

.show4 {
  opacity:1;
  position: relative;
  bottom: 15px;
  /* display: block; */
}
.show2 {
  opacity:1;
  position: relative;
  bottom: -544px;
  left: -312px;
  /* display: block; */
}
.show3 {
  opacity:1;
  position: relative;
  bottom: -18px;

  /* display: block; */
}

#myImg{
  border: orange 10px solid;
  weight:800px;
  height:800px;
}
.hi {
  opacity:0;
}
.hi2 {
  opacity:0;
}
.hi3 {
  opacity:0;
}
.show {
  display:block;
}

.hide {
  display:none







section p {
  position: relative;
  top:-385px;
  left: 510px;
  width: 35%;
  min-width: 320px;
  margin-left: 12px;
  padding: 24px;
  border-radius: 11px;
  font-family: Georgia, cursive;
  font-size: 18px;
  text-align: center;
  line-height: 28px;
  background-color: #cc0052;
  color: antiquewhite;
}

footer {
  position: absolute;
  top:1700px;
  width: 60%;
  min-width: 700px;
  margin-left: 12px;
  padding: 5px 24px 5px 24px;
  border-radius: 11px;
  font-size: 15px;
  text-align: center;

  background-color: #661a00;
  color: #ffc6b3;
}
footer a{
  color: #ffc6b3;
}

.show {
  display:block;
}

.hide {
  display:none;
} */
