/* basic body declarations */
body {

  /* background-image: url("https://github.com/yao2007/des157/blob/gh-pages/image/cat.jpg?raw=true"); */
  background-color: #cccccc;
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  padding:24px;
}
/* large, colorful button */
/* #cat img {
    opacity: 0;
    filter: alpha(opacity=50); /* For IE8 and earlier
} */

button {
  width:10%;
  height:25px;
  background-color:red;
  border-radius:14px;
  border:0px;
  font-size:2em;
  color:antiquewhite;
}

#init {
  position: absolute;
  margin: auto;
}
#pen {
  /* border: 1px red solid; */
  position: relative;
  bottom: -18px;

}
#glass{
  /* border: 1px red solid; */
  position: relative;
  bottom: 15px;
}
#bottle{
  /* border: 1px red solid; */
  position: relative;
  bottom: -544px;
  left: -312px;
}

.show {
  opacity:1;
  position: relative;
  bottom: 15px;
  /* display: block; */
}
.show2 {
  opacity:1;
  position: relative;
  bottom: -544px;
  left: -312px;
  /* display: block; */
}
.show3 {
  opacity:1;
  position: relative;
  bottom: -18px;

  /* display: block; */
}

.hi {
  opacity:0.5;
}
.hi2 {
  opacity:0.5;
}
.hi3 {
  opacity:0.5;
}
.show4 {
  display:block;
}

.hide {
  display:none





/* body {
  font-family: Georgia, cursive;
  background-image: url("mlimage/background1.jpg");
}
header {
  min-width: 600px;
}
h1,article {
  margin-left: 12px;
}
h1 {
  position: relative;
  top: 40px;
  left: 24px;
  z-index: 1;
  font-size: 5em;
  font-weight: normal;
  color: #e63900;
}

article {
  position: relative;
  top: -8px;
  width: 80%;
  min-width: 700px;
  border-radius: 18px;
  padding: 24px;
  color: antiquewhite;
  background-color: #222;
}

div {
  margin: 2%;
}

label {
  width: 5em;
  text-align: right;
  display: inline-block;
  padding-right: 3%;
}

input[type="text"] {
  font-family: Georgia, cursive;
  width: 30%;
  /* padding: 3%; */
  border: none; /*remove default*/
  border-radius: 2px;
  font-size: 1.2em;
  background-color: antiquewhite;
  color: #e63900;
}

input[type="text"]:focus {
  border-bottom: 2px deeppink solid;
  background-color: lightpink;
  color: black;
}

div:last-child {
  width:400px;
  /* border: red 1px solid; */
  text-align:right;
}

input[type="reset"],
input[type="submit"] {
  width: 30%;
  margin: 2%;
  padding: 2px;
  border: none; /*remove default*/
  border-radius: 3px;
  border-bottom: 4px orange solid;

  font-weight: bold;
  font-size: 1.5em;
  background-color: antiquewhite;
  color: #333;
}

section p {
  position: relative;
  top:-385px;
  left: 510px;
  width: 35%;
  min-width: 320px;
  margin-left: 12px;
  padding: 24px;
  border-radius: 11px;
  font-family: Georgia, cursive;
  font-size: 18px;
  text-align: center;
  line-height: 28px;
  background-color: #cc0052;
  color: antiquewhite;
}

footer {
  position: absolute;
  top:610px;
  width: 80%;
  min-width: 700px;
  margin-left: 12px;
  padding: 5px 24px 5px 24px;
  border-radius: 11px;
  font-size: 15px;
  text-align: center;

  background-color: #661a00;
  color: #ffc6b3;
}
footer a{
  color: #ffc6b3;
}

.show {
  display:block;
}

.hide {
  display:none;
} */
