
h1 {
  color:darkblue;
}
#container {
  /*border: red 1px solid;*/
  width: 860px;
  min-height: 1000px;
  margin: auto;
  background-color: white
}
body {

  font-family: Georgia, sans-serif;
  color: #666;
  font-size: 12px;
  font-weight: bold;
}
section{
  border: lightblue 3px solid;
}

table {
  width: 1020px;
}

td {
  vertical-align: top;
  padding: 6px;
}

.ch1 {
  text-align: right;
}

.full-width {
  width: 98%;
  font-family: Georgia, serif;
}

.ch2 {
  vertical-align: bottom;
}

#submit {
  background-color: #f00;
  border: 0;
  color: #fff;
  float: right;
  text-transform: uppercase;
  padding: 6px;
  width: 110px;
  font-family: Arial, sans-serif;
}

input, select {
  border: 1px solid #ccc;
}

footer{
  background-color: lightblue;
}
